@import url(//fonts.googleapis.com/css?family=Lato);

html {
    position: relative;
    min-height: 100%;
}

.navbar-brand {
    font-size: 15px;
}

.logo {
    height: 78px;
    margin-top: 10px;
}

.cardpad {
    margin-top: 10px;
}


.wrapper {
    position:fixed;
    left:50%;
    top: 100px;
}

.wrapper #loading{
    position:relative;
    left:-50%;
}

.alert_wrapper{
    position:fixed;
    left:50%;
    top: 50px;
    width: 90%;
}

.alert_wrapper #alert{
    position:relative;
    width: 90%;
    left:-50%;
}

#tx_table {
    padding: 0;
    font-size: 0.8em;
}

#block_table {
    padding: 0;
    font-size: 0.8em;
}
.wrapper #loading{
    position:relative;
    left:-50%;
}

.logo-small {
    height: 32px;
    /*float: left;*/
    /*margin-top: 5px;*/
    /*margin-left: 15px;*/
}
.logoLE {
    height: 45px;
    margin-top: -28px;
}
a {
    color: #EC6D00;
}
a:hover {
    color: #7B5832;
}


.container{
    font-size: 1.1em;
}
#loading{
    font-size: 2em;
    padding-top: 100px;
}

#stats_updated{
    opacity: 0;
    float: right;
    margin-left: 30px;
    color: #e8e8e8;
    line-height: 47px;
    font-size: 0.9em;
}


/*footer{*/
    /*position: fixed;*/
    /*bottom: 0;*/
    /*width: 100%;*/
    /*background-color: #dddddd;*/
/*}*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    line-height: 40px; /* Vertically center the text there */
    background-color: #dddddd;
}

footer > div{
    /*margin: 10px auto;*/
    text-align: center;
}

body {
    overflow-y: scroll;
    font-size: 14px;
    line-height: 1.3;
    color: #0A000D;
    font-family: 'Lato', Arial, sans-serif;
    margin-bottom: 50px;
    margin-top: 34px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto Condensed', sans-serif;
}
h3,
.h3 {
    font-size: 32px;
    margin-bottom: 14px;
}
h4,
.h4 {
    font-size: 24px;
    margin-bottom: 14px;
}
.navbar-dark {
    background-color: #000000;
    border-color: #f9f9f8;
    border-width: 0;
    height: 34px;
}
.navbar-dark .container {
    background-color: rgba(0, 0, 0, 0);
}
.navbar-dark .navbar-brand {
    color: #fff;
}
.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus {
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
}
.navbar-dark .navbar-text {
    color: #CEE3E4;
}
.navbar-dark .navbar-nav > li > a {
    color: #F9F9F9;
}
.navbar-dark .navbar-nav > li > a:hover,
.navbar-dark .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: transparent;
}
.navbar-dark .navbar-nav > .active > a,
.navbar-dark .navbar-nav > .active > a:hover,
.navbar-dark .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #EC6D00;
}
#stats_updated {
    color: #F8FBDC;
}
hr {
    border-top-color: #BBBBBB;
}
.stats > div:not(#addressError) {
    color: #111300;
    padding: 10px 0px;
}
.stats > div:not(#addressError).marketFooter {
    padding: 5px 0;
}
.stats > div:not(#addressError) > i.fa {
    color: #EC6D00;
    font-size: 21px;
    width: 30px;
    text-align: center;
}
.stats > div:not(#addressError) > span:not(.input-group-btn):first-of-type {
    font-weight: 500;
    padding: 0 2px;
    color: #0A000D;
}
.form-control {
    border: 1px solid #4E6A75;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #BA9B79;
}
.input-group-addon {
    background-color: #4E6A75;
    color: #fff;
    border-color: #4E6A75;
}
.btn-default {
    color: #ffffff;
    background-color: #4E6A75;
    border-color: #4E6A75;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #ffffff;
    background-color: #BA9B79;
    border-color: #BA9B79;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: #BA9B79;
    border-color: #BA9B79;
}
.btn-default .badge {
    color: #BA9B79;
    background-color: #ffffff;
}
.table th,
.table .miningAppTitle {
    font-weight: 500;
}
code {
    padding: 2px 10px;
    color: #F8FBDC;
    background-color: #97A5AB;
    border-radius: 0;
}
.container .paymentsStatHolder,
.container .blocksStatHolder {
    padding-top: 20px;
}
.container .paymentsStatHolder > span,
.container .blocksStatHolder > span {
    border-width: 0;
    padding: 5px 5px;
}
.container .paymentsStatHolder > span > span,
.container .blocksStatHolder > span > span {
    font-weight: 500;
}
.bg-primary {
    background-color: #97A5AB;
}
.bg-info {
    background-color: #97A5AB;
    color: #fff;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
    background-color: #f4f9ff;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
    background-color: #dbebff;
}
.table > thead > tr > th {
    color: #0A000D;
    border-bottom-color: #0A000D;
}
.table > tbody > tr > td {
    border-top-color: #c9e0e9;
}
/************************************************
*** charts ***
************************************************/
.chartsPoolStat {
    padding-top: 30px;
}

.chartWrap {
    display: none;
}

.userChart .chart,
.chartWrap .chart {
    margin-bottom: 10px;
}
.userChart h4,
.chartWrap h4 {
    text-align: center;
    font-size: 21px;
}
.userChart {
    display: none;
}
.chartWrap p span {
    color: #F8FBDC;
}
/************************************************
*** sparkline override ***
************************************************/
.jqstooltip {
    border: none !important;
    background: rgba(0, 0, 0, 0.8) !important;
    border-radius: 2px !important;
    margin-top: -20px !important;
    /* Override Bootstrap defaults to fix jQuery.Sparkline tooltips appearance */
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box;
    box-sizing: content-box !important;
}
.jqstooltip .jqsfield {
    color: #ccc;
    font-size: 13px !important;
}
.jqstooltip .jqsfield b {
    color: #fff;
}
/************************************************
*** home page fixes ***
************************************************/
#yourAddressDisplay {
    word-wrap: break-word;
}
/************************************************
*** 20% width block ***
************************************************/
.col-sm-20 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px) {
    .col-sm-20 {
        float: left;
        width: 20%;
    }
}
/************************************************
*** admin page ***
************************************************/
.btn-primary {
    color: #ffffff;
    background-color: #BA9B79;
    border-color: #BA9B79;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #4E6A75;
    border-color: #026a4d;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #BA9B79;
    border-color: #BA9B79;
}
.btn-primary .badge {
    color: #BA9B79;
    background-color: #ffffff;
}
a.list-group-item {
    font-size: 1.1em;
}
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
    color: #ffffff;
    background-color: #BA9B79;
    border-color: #BA9B79;
}
a.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
a.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.adminStats > div {
    min-height: 127px;
    color: #2E3D31;
    position: relative;
    -webkit-box-shadow: inset 0px 0px 0 1px #ffffff;
    box-shadow: inset 0px 0px 0 1px #ffffff;
    background-color: #EBEBEB;
}
.adminStats .statValue {
    position: absolute;
    display: block;
    padding: 0 10px;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    line-height: 100px;
    text-align: center;
    word-wrap: break-word;
    font-size: 17px;
}
.adminStats .statValue.lead {
    font-size: 21px;
    font-weight: 600;
}
.adminStats h4 {
    text-align: right;
    font-size: 18px;
    position: absolute;
    bottom: 10px;
    right: 15px;
    margin: 0;
    color: #26839B;
}
.adminStats .statsTitle h3 {
    line-height: 127px;
    margin: 0;
    color: #00C1FF;
    text-align: center;
}
.usersList {
    table-layout: fixed;
    word-wrap: break-word;
}
.usersList .tooltip-inner {
    max-width: 100%;
}
.usersList .sort {
    cursor: pointer;
}
.usersList tr > th:first-child {
    width: 40%;
}
strong,
b {
    font-weight: 500;
}
.nav-pills > li > a {
    border-radius: 0;
    background-color: #F3F3F3;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #BA9B79;
}
.adminMonitor code {
    white-space: normal;
}
.adminMonitor .tab-pane li {
    margin-bottom: 10px;
}